div.sideBar-div {
  background-color: whitesmoke;
  width: 50%;
  height: 100vh;
  text-align: center;
  padding: 10px;
  margin: 0;
  transform: translateX(-100vw);
  transition: 0.2s transform ease-in;
}

div.sideBar-div *:not(button) {
  text-decoration: none;
  color: black;
}

h1.nav-title {
  font-size: 2.4rem;
  margin: 22px 0 42px;
  color: blue !important
}

@media (min-width: 901px) {
  div.sideBar-div {
    display: none;
  }
}

@media (max-width: 600px) {
  div.sideBar-div {
    width: 70%;
  }

  h1.nav-title {
    font-size: 2.1rem;
  }
}
